
CREATE TABLE [bahadir_proje].[auth_renewal](
	[auth_renewal_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[expires_at] [datetime] NOT NULL,
	[renewal_code] [nvarchar](50) NOT NULL,
	[auth_renewal_status_id] [int] NOT NULL,
 CONSTRAINT [PK_auth_renewal] PRIMARY KEY CLUSTERED 
(
	[auth_renewal_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[auth_renewal_status]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[auth_renewal_status](
	[auth_renewal_status_id] [int] IDENTITY(1,1) NOT NULL,
	[auth_renewal_status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_auth_renewal_status] PRIMARY KEY CLUSTERED 
(
	[auth_renewal_status_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[auth_token]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[auth_token](
	[auth_token_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[expires_at] [datetime] NOT NULL,
 CONSTRAINT [PK_auth_token] PRIMARY KEY CLUSTERED 
(
	[auth_token_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[city]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[city](
	[city_id] [int] IDENTITY(1,1) NOT NULL,
	[country_id] [int] NULL,
	[city] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[city_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[claim]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[claim](
	[claim_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[company_id] [int] NOT NULL,
	[claim_status_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_claim] PRIMARY KEY CLUSTERED 
(
	[claim_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[claim_attachment]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[claim_attachment](
	[claim_attachment_id] [int] IDENTITY(1,1) NOT NULL,
	[claim_id] [int] NOT NULL,
	[mime_type] [nvarchar](20) NULL,
	[extension] [nvarchar](5) NULL,
	[filename] [nvarchar](255) NULL,
	[filepath] [nvarchar](255) NULL,
 CONSTRAINT [PK_claim_attachment] PRIMARY KEY CLUSTERED 
(
	[claim_attachment_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[claim_event]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[claim_event](
	[claim_event_id] [int] IDENTITY(1,1) NOT NULL,
	[claim_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[claim_event_type_id] [int] NOT NULL,
	[note] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_claim_event] PRIMARY KEY CLUSTERED 
(
	[claim_event_id] ASC

) ON [PRIMARY] ); TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [bahadir_proje].[claim_event_type]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[claim_event_type](
	[claim_event_type_id] [int] IDENTITY(1,1) NOT NULL,
	[claim_event_type] [nvarchar](50) NULL,
 CONSTRAINT [PK_claim_event_type] PRIMARY KEY CLUSTERED 
(
	[claim_event_type_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[claim_status]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[claim_status](
	[claim_status_id] [int] IDENTITY(1,1) NOT NULL,
	[claim_status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[claim_status_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[comment]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[entry_id] [int] NOT NULL,
	[reply_to_id] [int] NULL,
	[comment] [varchar](1024) NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[company]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[company](
	[company_id] [int] NOT NULL,
	[sector_id] [int] NULL,
	[city_id] [int] NOT NULL,
	[title] [varchar](255) NULL,
	[address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[conn]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[conn](
	[connection_id] [int] IDENTITY(1,1) NOT NULL,
	[source_user_id] [int] NOT NULL,
	[target_user_id] [int] NOT NULL,
	[connection_status_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__connecti__E4AA4DD0610BF5E5] PRIMARY KEY CLUSTERED 
(
	[connection_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[connection_event]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[connection_event](
	[connection_event_id] [int] NOT NULL,
	[connection_event_type_id] [int] NOT NULL,
	[connection_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [timestamp] NOT NULL,
 CONSTRAINT [PK_connection_event] PRIMARY KEY CLUSTERED 
(
	[connection_event_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[connection_event_type]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[connection_event_type](
	[connection_event_type_id] [int] IDENTITY(1,1) NOT NULL,
	[connection_event_type] [nchar](10) NOT NULL,
 CONSTRAINT [PK_connection_event_type] PRIMARY KEY CLUSTERED 
(
	[connection_event_type_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[connection_status]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[connection_status](
	[connection_status_id] [int] IDENTITY(1,1) NOT NULL,
	[connection_status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[connection_status_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[country]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[country](
	[country_id] [int] IDENTITY(1,1) NOT NULL,
	[country_name] [varchar](50) NULL,
	[country_code] [varchar](4) NULL,
	[language_code] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[country_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[edu_department]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[edu_department](
	[edu_department_id] [int] IDENTITY(1,1) NOT NULL,
	[department] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[edu_department_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[edu_foundation]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[edu_foundation](
	[edu_foundation_id] [int] IDENTITY(1,1) NOT NULL,
	[city_id] [int] NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[edu_foundation_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[edu_foundation_department]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[edu_foundation_department](
	[edu_foundation_department_id] [int] IDENTITY(1,1) NOT NULL,
	[edu_foundation_id] [int] NULL,
	[edu_department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[edu_foundation_department_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[entry]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[entry](
	[entry_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [varchar](255) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__entry__810FDCE1759BEBF0] PRIMARY KEY CLUSTERED 
(
	[entry_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[entry_event]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[entry_event](
	[entry_id] [int] NOT NULL,
	[event_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[entry_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[entry_image]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[entry_image](
	[entry_id] [int] NOT NULL,
	[image_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[entry_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[entry_job]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[entry_job](
	[entry_id] [int] NOT NULL,
	[job_id] [int] NOT NULL,
 CONSTRAINT [PK_entry_job] PRIMARY KEY CLUSTERED 
(
	[entry_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[entry_text]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[entry_text](
	[entry_id] [int] NOT NULL,
	[content] [varchar](1024) NULL,
PRIMARY KEY CLUSTERED 
(
	[entry_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[entry_url]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[entry_url](
	[entry_id] [int] NOT NULL,
	[url] [varchar](255) NOT NULL,
	[description] [varchar](1024) NULL,
PRIMARY KEY CLUSTERED 
(
	[entry_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[event]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[event](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[event_type_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[city_id] [int] NOT NULL,
	[event_name] [varchar](255) NOT NULL,
	[description] [varchar](1024) NULL,
	[created_at] [datetime] NOT NULL,
	[begins_at] [datetime] NOT NULL,
	[ends_at] [datetime] NOT NULL,
 CONSTRAINT [PK__event__2370F727F7D39181] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[event_type]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[event_type](
	[event_type_id] [int] IDENTITY(1,1) NOT NULL,
	[event_type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[event_type_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[experience]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[experience](
	[experience_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[company_id] [int] NOT NULL,
	[begins_at] [date] NOT NULL,
	[ends_at] [date] NULL,
	[department] [nvarchar](50) NULL,
	[role] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK__user_rol__B8D9ABA2B9F2F50E] PRIMARY KEY CLUSTERED 
(
	[experience_id] ASC

) ON [PRIMARY] ); TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [bahadir_proje].[invitation]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[invitation](
	[invitation_id] [int] IDENTITY(1,1) NOT NULL,
	[event_id] [int] NOT NULL,
	[invitor_id] [int] NOT NULL,
	[invited_id] [int] NOT NULL,
	[invitation_status_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__invitati__94B74D7CB607F43A] PRIMARY KEY CLUSTERED 
(
	[invitation_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[invitation_status]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[invitation_status](
	[invitation_status_id] [int] IDENTITY(1,1) NOT NULL,
	[invitation_status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[invitation_status_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[job]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[job](
	[job_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[expires_at] [datetime] NOT NULL,
 CONSTRAINT [PK_job] PRIMARY KEY CLUSTERED 
(
	[job_id] ASC

) ON [PRIMARY] ); TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [bahadir_proje].[job_apply]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[job_apply](
	[job_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_job_apply] PRIMARY KEY CLUSTERED 
(
	[job_id] ASC,
	[user_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[reaction_type]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[reaction_type](
	[reaction_type_id] [int] IDENTITY(1,1) NOT NULL,
	[reaction_type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[reaction_type_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[sector]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[sector](
	[sector_id] [int] IDENTITY(1,1) NOT NULL,
	[sector] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[sector_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[user]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_type_id] [int] NOT NULL,
	[city_id] [int] NOT NULL,
	[email] [varchar](255) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[created_at] [datetime] NOT NULL,
	[password] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__user__B9BE370F66A3D2CC] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[user_comment_reaction]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[user_comment_reaction](
	[comment_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[reaction_type_id] [int] NOT NULL,
 CONSTRAINT [PK__user_com__0C0E95F7ED4DBDA5] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC,
	[user_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[user_edu_department]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[user_edu_department](
	[user_edu_department_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[edu_foundation_department_id] [int] NOT NULL,
	[graduated_in] [int] NULL,
 CONSTRAINT [PK_user_edu_department] PRIMARY KEY CLUSTERED 
(
	[user_edu_department_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[user_entry_reaction]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[user_entry_reaction](
	[user_id] [int] NOT NULL,
	[entry_id] [int] NOT NULL,
	[reaction_type_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__user_ent__B1AECAC14FCB51CE] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[entry_id] ASC

) ON [PRIMARY] );
GO
/****** Object:  Table [bahadir_proje].[user_type]    Script Date: 12/15/2019 7:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bahadir_proje].[user_type](
	[user_type_id] [int] IDENTITY(1,1) NOT NULL,
	[user_type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_type_id] ASC

) ON [PRIMARY] );
GO
ALTER TABLE [bahadir_proje].[city] ADD  DEFAULT (NULL) FOR [country_id]
GO
ALTER TABLE [bahadir_proje].[city] ADD  DEFAULT (NULL) FOR [city]
GO
ALTER TABLE [bahadir_proje].[claim_status] ADD  DEFAULT (NULL) FOR [claim_status]
GO
ALTER TABLE [bahadir_proje].[comment] ADD  DEFAULT (NULL) FOR [reply_to_id]
GO
ALTER TABLE [bahadir_proje].[comment] ADD  DEFAULT (NULL) FOR [comment]
GO
ALTER TABLE [bahadir_proje].[company] ADD  DEFAULT (NULL) FOR [sector_id]
GO
ALTER TABLE [bahadir_proje].[company] ADD  DEFAULT (NULL) FOR [title]
GO
ALTER TABLE [bahadir_proje].[company] ADD  DEFAULT (NULL) FOR [address]
GO
ALTER TABLE [bahadir_proje].[connection_status] ADD  DEFAULT (NULL) FOR [connection_status]
GO
ALTER TABLE [bahadir_proje].[country] ADD  DEFAULT (NULL) FOR [country_name]
GO
ALTER TABLE [bahadir_proje].[country] ADD  DEFAULT (NULL) FOR [country_code]
GO
ALTER TABLE [bahadir_proje].[country] ADD  DEFAULT (NULL) FOR [language_code]
GO
ALTER TABLE [bahadir_proje].[edu_department] ADD  DEFAULT (NULL) FOR [department]
GO
ALTER TABLE [bahadir_proje].[edu_foundation] ADD  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [bahadir_proje].[edu_foundation_department] ADD  DEFAULT (NULL) FOR [edu_foundation_id]
GO
ALTER TABLE [bahadir_proje].[edu_foundation_department] ADD  DEFAULT (NULL) FOR [edu_department_id]
GO
ALTER TABLE [bahadir_proje].[entry] ADD  CONSTRAINT [DF__entry__title__5070F446]  DEFAULT (NULL) FOR [title]
GO
ALTER TABLE [bahadir_proje].[entry_image] ADD  DEFAULT (NULL) FOR [image_url]
GO
ALTER TABLE [bahadir_proje].[entry_text] ADD  DEFAULT (NULL) FOR [content]
GO
ALTER TABLE [bahadir_proje].[entry_url] ADD  DEFAULT (NULL) FOR [description]
GO
ALTER TABLE [bahadir_proje].[event] ADD  CONSTRAINT [DF__event__user_id__0F624AF8]  DEFAULT (NULL) FOR [user_id]
GO
ALTER TABLE [bahadir_proje].[event] ADD  CONSTRAINT [DF__event__event_nam__10566F31]  DEFAULT (NULL) FOR [event_name]
GO
ALTER TABLE [bahadir_proje].[event] ADD  CONSTRAINT [DF__event__descripti__114A936A]  DEFAULT (NULL) FOR [description]
GO
ALTER TABLE [bahadir_proje].[event_type] ADD  DEFAULT (NULL) FOR [event_type]
GO
ALTER TABLE [bahadir_proje].[experience] ADD  CONSTRAINT [DF__user_role__date___2A164134]  DEFAULT (NULL) FOR [begins_at]
GO
ALTER TABLE [bahadir_proje].[experience] ADD  CONSTRAINT [DF__user_role__date___2B0A656D]  DEFAULT (NULL) FOR [ends_at]
GO
ALTER TABLE [bahadir_proje].[invitation] ADD  CONSTRAINT [DF__invitatio__event__160F4887]  DEFAULT (NULL) FOR [event_id]
GO
ALTER TABLE [bahadir_proje].[invitation] ADD  CONSTRAINT [DF__invitatio__invit__17036CC0]  DEFAULT (NULL) FOR [invitor_id]
GO
ALTER TABLE [bahadir_proje].[invitation] ADD  CONSTRAINT [DF__invitatio__invit__17F790F9]  DEFAULT (NULL) FOR [invited_id]
GO
ALTER TABLE [bahadir_proje].[invitation_status] ADD  DEFAULT (NULL) FOR [invitation_status]
GO
ALTER TABLE [bahadir_proje].[reaction_type] ADD  DEFAULT (NULL) FOR [reaction_type]
GO
ALTER TABLE [bahadir_proje].[sector] ADD  DEFAULT (NULL) FOR [sector]
GO
ALTER TABLE [bahadir_proje].[user] ADD  CONSTRAINT [DF__user__first_name__797309D9]  DEFAULT (NULL) FOR [first_name]
GO
ALTER TABLE [bahadir_proje].[user] ADD  CONSTRAINT [DF__user__last_name__7A672E12]  DEFAULT (NULL) FOR [last_name]
GO
ALTER TABLE [bahadir_proje].[user_type] ADD  DEFAULT (NULL) FOR [user_type]
GO
ALTER TABLE [bahadir_proje].[auth_renewal]  WITH CHECK ADD  CONSTRAINT [FK_auth_renewal_auth_renewal_status] FOREIGN KEY([auth_renewal_status_id])
REFERENCES [bahadir_proje].[auth_renewal_status] ([auth_renewal_status_id])
GO
ALTER TABLE [bahadir_proje].[auth_renewal] CHECK CONSTRAINT [FK_auth_renewal_auth_renewal_status]
GO
ALTER TABLE [bahadir_proje].[auth_renewal]  WITH CHECK ADD  CONSTRAINT [FK_auth_renewal_user] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[auth_renewal] CHECK CONSTRAINT [FK_auth_renewal_user]
GO
ALTER TABLE [bahadir_proje].[auth_token]  WITH CHECK ADD  CONSTRAINT [FK_auth_token_user] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[auth_token] CHECK CONSTRAINT [FK_auth_token_user]
GO
ALTER TABLE [bahadir_proje].[city]  WITH CHECK ADD  CONSTRAINT [city_ibfk_1] FOREIGN KEY([country_id])
REFERENCES [bahadir_proje].[country] ([country_id])
GO
ALTER TABLE [bahadir_proje].[city] CHECK CONSTRAINT [city_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_claim_status] FOREIGN KEY([claim_status_id])
REFERENCES [bahadir_proje].[claim_status] ([claim_status_id])
GO
ALTER TABLE [bahadir_proje].[claim] CHECK CONSTRAINT [FK_claim_claim_status]
GO
ALTER TABLE [bahadir_proje].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_company] FOREIGN KEY([company_id])
REFERENCES [bahadir_proje].[company] ([company_id])
GO
ALTER TABLE [bahadir_proje].[claim] CHECK CONSTRAINT [FK_claim_company]
GO
ALTER TABLE [bahadir_proje].[claim]  WITH CHECK ADD  CONSTRAINT [FK_claim_user] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[claim] CHECK CONSTRAINT [FK_claim_user]
GO
ALTER TABLE [bahadir_proje].[claim_attachment]  WITH CHECK ADD  CONSTRAINT [FK_claim_attachment_claim] FOREIGN KEY([claim_id])
REFERENCES [bahadir_proje].[claim] ([claim_id])
GO
ALTER TABLE [bahadir_proje].[claim_attachment] CHECK CONSTRAINT [FK_claim_attachment_claim]
GO
ALTER TABLE [bahadir_proje].[claim_event]  WITH CHECK ADD  CONSTRAINT [FK_claim_event_claim] FOREIGN KEY([claim_id])
REFERENCES [bahadir_proje].[claim] ([claim_id])
GO
ALTER TABLE [bahadir_proje].[claim_event] CHECK CONSTRAINT [FK_claim_event_claim]
GO
ALTER TABLE [bahadir_proje].[claim_event]  WITH CHECK ADD  CONSTRAINT [FK_claim_event_claim_event_type] FOREIGN KEY([claim_event_type_id])
REFERENCES [bahadir_proje].[claim_event_type] ([claim_event_type_id])
GO
ALTER TABLE [bahadir_proje].[claim_event] CHECK CONSTRAINT [FK_claim_event_claim_event_type]
GO
ALTER TABLE [bahadir_proje].[claim_event]  WITH CHECK ADD  CONSTRAINT [FK_claim_event_user] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[claim_event] CHECK CONSTRAINT [FK_claim_event_user]
GO
ALTER TABLE [bahadir_proje].[comment]  WITH CHECK ADD  CONSTRAINT [comment_ibfk_1] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[comment] CHECK CONSTRAINT [comment_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[comment]  WITH CHECK ADD  CONSTRAINT [comment_ibfk_2] FOREIGN KEY([entry_id])
REFERENCES [bahadir_proje].[entry] ([entry_id])
GO
ALTER TABLE [bahadir_proje].[comment] CHECK CONSTRAINT [comment_ibfk_2]
GO
ALTER TABLE [bahadir_proje].[comment]  WITH CHECK ADD  CONSTRAINT [comment_ibfk_3] FOREIGN KEY([reply_to_id])
REFERENCES [bahadir_proje].[comment] ([comment_id])
GO
ALTER TABLE [bahadir_proje].[comment] CHECK CONSTRAINT [comment_ibfk_3]
GO
ALTER TABLE [bahadir_proje].[company]  WITH CHECK ADD  CONSTRAINT [company_ibfk_1] FOREIGN KEY([sector_id])
REFERENCES [bahadir_proje].[sector] ([sector_id])
GO
ALTER TABLE [bahadir_proje].[company] CHECK CONSTRAINT [company_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[company]  WITH CHECK ADD  CONSTRAINT [company_ibfk_2] FOREIGN KEY([city_id])
REFERENCES [bahadir_proje].[city] ([city_id])
GO
ALTER TABLE [bahadir_proje].[company] CHECK CONSTRAINT [company_ibfk_2]
GO
ALTER TABLE [bahadir_proje].[conn]  WITH CHECK ADD  CONSTRAINT [connection_ibfk_1] FOREIGN KEY([source_user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[conn] CHECK CONSTRAINT [connection_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[conn]  WITH CHECK ADD  CONSTRAINT [connection_ibfk_2] FOREIGN KEY([target_user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[conn] CHECK CONSTRAINT [connection_ibfk_2]
GO
ALTER TABLE [bahadir_proje].[conn]  WITH CHECK ADD  CONSTRAINT [connection_ibfk_3] FOREIGN KEY([connection_status_id])
REFERENCES [bahadir_proje].[connection_status] ([connection_status_id])
GO
ALTER TABLE [bahadir_proje].[conn] CHECK CONSTRAINT [connection_ibfk_3]
GO
ALTER TABLE [bahadir_proje].[connection_event]  WITH CHECK ADD  CONSTRAINT [FK_connection_event_conn] FOREIGN KEY([connection_id])
REFERENCES [bahadir_proje].[conn] ([connection_id])
GO
ALTER TABLE [bahadir_proje].[connection_event] CHECK CONSTRAINT [FK_connection_event_conn]
GO
ALTER TABLE [bahadir_proje].[connection_event]  WITH CHECK ADD  CONSTRAINT [FK_connection_event_connection_event_type] FOREIGN KEY([connection_event_type_id])
REFERENCES [bahadir_proje].[connection_event_type] ([connection_event_type_id])
GO
ALTER TABLE [bahadir_proje].[connection_event] CHECK CONSTRAINT [FK_connection_event_connection_event_type]
GO
ALTER TABLE [bahadir_proje].[connection_event]  WITH CHECK ADD  CONSTRAINT [FK_connection_event_user] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[connection_event] CHECK CONSTRAINT [FK_connection_event_user]
GO
ALTER TABLE [bahadir_proje].[edu_foundation]  WITH CHECK ADD  CONSTRAINT [university_ibfk_1] FOREIGN KEY([city_id])
REFERENCES [bahadir_proje].[city] ([city_id])
GO
ALTER TABLE [bahadir_proje].[edu_foundation] CHECK CONSTRAINT [university_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[edu_foundation_department]  WITH CHECK ADD  CONSTRAINT [edu_foundation_department_ibfk_1] FOREIGN KEY([edu_foundation_id])
REFERENCES [bahadir_proje].[edu_foundation] ([edu_foundation_id])
GO
ALTER TABLE [bahadir_proje].[edu_foundation_department] CHECK CONSTRAINT [edu_foundation_department_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[edu_foundation_department]  WITH CHECK ADD  CONSTRAINT [edu_foundation_department_ibfk_2] FOREIGN KEY([edu_department_id])
REFERENCES [bahadir_proje].[edu_department] ([edu_department_id])
GO
ALTER TABLE [bahadir_proje].[edu_foundation_department] CHECK CONSTRAINT [edu_foundation_department_ibfk_2]
GO
ALTER TABLE [bahadir_proje].[entry]  WITH CHECK ADD  CONSTRAINT [FK_entry_entry_job] FOREIGN KEY([entry_id])
REFERENCES [bahadir_proje].[entry_job] ([entry_id])
GO
ALTER TABLE [bahadir_proje].[entry] CHECK CONSTRAINT [FK_entry_entry_job]
GO
ALTER TABLE [bahadir_proje].[entry]  WITH CHECK ADD  CONSTRAINT [FK_entry_user] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[entry] CHECK CONSTRAINT [FK_entry_user]
GO
ALTER TABLE [bahadir_proje].[entry_event]  WITH CHECK ADD  CONSTRAINT [entry_event_ibfk_1] FOREIGN KEY([event_id])
REFERENCES [bahadir_proje].[event] ([event_id])
GO
ALTER TABLE [bahadir_proje].[entry_event] CHECK CONSTRAINT [entry_event_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[entry_event]  WITH CHECK ADD  CONSTRAINT [entry_event_ibfk_3] FOREIGN KEY([entry_id])
REFERENCES [bahadir_proje].[entry] ([entry_id])
GO
ALTER TABLE [bahadir_proje].[entry_event] CHECK CONSTRAINT [entry_event_ibfk_3]
GO
ALTER TABLE [bahadir_proje].[entry_image]  WITH CHECK ADD  CONSTRAINT [entry_image_ibfk_1] FOREIGN KEY([entry_id])
REFERENCES [bahadir_proje].[entry] ([entry_id])
GO
ALTER TABLE [bahadir_proje].[entry_image] CHECK CONSTRAINT [entry_image_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[entry_text]  WITH CHECK ADD  CONSTRAINT [entry_text_ibfk_1] FOREIGN KEY([entry_id])
REFERENCES [bahadir_proje].[entry] ([entry_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [bahadir_proje].[entry_text] CHECK CONSTRAINT [entry_text_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[entry_url]  WITH CHECK ADD  CONSTRAINT [entry_url_ibfk_1] FOREIGN KEY([entry_id])
REFERENCES [bahadir_proje].[entry] ([entry_id])
GO
ALTER TABLE [bahadir_proje].[entry_url] CHECK CONSTRAINT [entry_url_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[event]  WITH CHECK ADD  CONSTRAINT [event_ibfk_1] FOREIGN KEY([event_type_id])
REFERENCES [bahadir_proje].[event_type] ([event_type_id])
GO
ALTER TABLE [bahadir_proje].[event] CHECK CONSTRAINT [event_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[event]  WITH CHECK ADD  CONSTRAINT [event_ibfk_2] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[event] CHECK CONSTRAINT [event_ibfk_2]
GO
ALTER TABLE [bahadir_proje].[event]  WITH CHECK ADD  CONSTRAINT [FK_event_city] FOREIGN KEY([city_id])
REFERENCES [bahadir_proje].[city] ([city_id])
GO
ALTER TABLE [bahadir_proje].[event] CHECK CONSTRAINT [FK_event_city]
GO
ALTER TABLE [bahadir_proje].[experience]  WITH CHECK ADD  CONSTRAINT [user_role_ibfk_2] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[experience] CHECK CONSTRAINT [user_role_ibfk_2]
GO
ALTER TABLE [bahadir_proje].[experience]  WITH CHECK ADD  CONSTRAINT [user_role_ibfk_3] FOREIGN KEY([company_id])
REFERENCES [bahadir_proje].[company] ([company_id])
GO
ALTER TABLE [bahadir_proje].[experience] CHECK CONSTRAINT [user_role_ibfk_3]
GO
ALTER TABLE [bahadir_proje].[invitation]  WITH CHECK ADD  CONSTRAINT [FK_invitation_user] FOREIGN KEY([invitor_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[invitation] CHECK CONSTRAINT [FK_invitation_user]
GO
ALTER TABLE [bahadir_proje].[invitation]  WITH CHECK ADD  CONSTRAINT [FK_invitation_user1] FOREIGN KEY([invited_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[invitation] CHECK CONSTRAINT [FK_invitation_user1]
GO
ALTER TABLE [bahadir_proje].[invitation]  WITH CHECK ADD  CONSTRAINT [invitation_ibfk_1] FOREIGN KEY([invitation_status_id])
REFERENCES [bahadir_proje].[invitation_status] ([invitation_status_id])
GO
ALTER TABLE [bahadir_proje].[invitation] CHECK CONSTRAINT [invitation_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[invitation]  WITH CHECK ADD  CONSTRAINT [invitation_ibfk_4] FOREIGN KEY([event_id])
REFERENCES [bahadir_proje].[event] ([event_id])
GO
ALTER TABLE [bahadir_proje].[invitation] CHECK CONSTRAINT [invitation_ibfk_4]
GO
ALTER TABLE [bahadir_proje].[job]  WITH CHECK ADD  CONSTRAINT [FK_job_company] FOREIGN KEY([company_id])
REFERENCES [bahadir_proje].[company] ([company_id])
GO
ALTER TABLE [bahadir_proje].[job] CHECK CONSTRAINT [FK_job_company]
GO
ALTER TABLE [bahadir_proje].[job]  WITH CHECK ADD  CONSTRAINT [FK_job_user] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[job] CHECK CONSTRAINT [FK_job_user]
GO
ALTER TABLE [bahadir_proje].[job_apply]  WITH CHECK ADD  CONSTRAINT [FK_job_apply_job] FOREIGN KEY([job_id])
REFERENCES [bahadir_proje].[job] ([job_id])
GO
ALTER TABLE [bahadir_proje].[job_apply] CHECK CONSTRAINT [FK_job_apply_job]
GO
ALTER TABLE [bahadir_proje].[job_apply]  WITH CHECK ADD  CONSTRAINT [FK_job_apply_user] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[job_apply] CHECK CONSTRAINT [FK_job_apply_user]
GO
ALTER TABLE [bahadir_proje].[user]  WITH CHECK ADD  CONSTRAINT [user_ibfk_1] FOREIGN KEY([user_type_id])
REFERENCES [bahadir_proje].[user_type] ([user_type_id])
GO
ALTER TABLE [bahadir_proje].[user] CHECK CONSTRAINT [user_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[user]  WITH CHECK ADD  CONSTRAINT [user_ibfk_2] FOREIGN KEY([city_id])
REFERENCES [bahadir_proje].[city] ([city_id])
GO
ALTER TABLE [bahadir_proje].[user] CHECK CONSTRAINT [user_ibfk_2]
GO
ALTER TABLE [bahadir_proje].[user_comment_reaction]  WITH CHECK ADD  CONSTRAINT [user_comment_reaction_ibfk_1] FOREIGN KEY([reaction_type_id])
REFERENCES [bahadir_proje].[reaction_type] ([reaction_type_id])
GO
ALTER TABLE [bahadir_proje].[user_comment_reaction] CHECK CONSTRAINT [user_comment_reaction_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[user_comment_reaction]  WITH CHECK ADD  CONSTRAINT [user_comment_reaction_ibfk_2] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[user_comment_reaction] CHECK CONSTRAINT [user_comment_reaction_ibfk_2]
GO
ALTER TABLE [bahadir_proje].[user_comment_reaction]  WITH CHECK ADD  CONSTRAINT [user_comment_reaction_ibfk_3] FOREIGN KEY([comment_id])
REFERENCES [bahadir_proje].[comment] ([comment_id])
GO
ALTER TABLE [bahadir_proje].[user_comment_reaction] CHECK CONSTRAINT [user_comment_reaction_ibfk_3]
GO
ALTER TABLE [bahadir_proje].[user_edu_department]  WITH CHECK ADD  CONSTRAINT [FK_user_edu_department_edu_foundation_department] FOREIGN KEY([edu_foundation_department_id])
REFERENCES [bahadir_proje].[edu_foundation_department] ([edu_foundation_department_id])
GO
ALTER TABLE [bahadir_proje].[user_edu_department] CHECK CONSTRAINT [FK_user_edu_department_edu_foundation_department]
GO
ALTER TABLE [bahadir_proje].[user_edu_department]  WITH CHECK ADD  CONSTRAINT [FK_user_edu_department_user] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[user_edu_department] CHECK CONSTRAINT [FK_user_edu_department_user]
GO
ALTER TABLE [bahadir_proje].[user_entry_reaction]  WITH CHECK ADD  CONSTRAINT [user_entry_reaction_ibfk_1] FOREIGN KEY([user_id])
REFERENCES [bahadir_proje].[user] ([user_id])
GO
ALTER TABLE [bahadir_proje].[user_entry_reaction] CHECK CONSTRAINT [user_entry_reaction_ibfk_1]
GO
ALTER TABLE [bahadir_proje].[user_entry_reaction]  WITH CHECK ADD  CONSTRAINT [user_entry_reaction_ibfk_2] FOREIGN KEY([entry_id])
REFERENCES [bahadir_proje].[entry] ([entry_id])
GO
ALTER TABLE [bahadir_proje].[user_entry_reaction] CHECK CONSTRAINT [user_entry_reaction_ibfk_2]
GO
ALTER TABLE [bahadir_proje].[user_entry_reaction]  WITH CHECK ADD  CONSTRAINT [user_entry_reaction_ibfk_3] FOREIGN KEY([reaction_type_id])
REFERENCES [bahadir_proje].[reaction_type] ([reaction_type_id])
GO
ALTER TABLE [bahadir_proje].[user_entry_reaction] CHECK CONSTRAINT [user_entry_reaction_ibfk_3]
GO
USE [master]
GO
